@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/outfit-v11-latin-regular.woff2) format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/outfit-v11-latin-700.woff2) format("woff2");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    object-fit: cover;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
html {
    height: 100%;
}
body {
    background-color: #d5e1ef;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 24px;
    font-family: sans-serif;
}
.code-card {
    box-shadow: 0 25px 25px 0 #0000000c;
    background-color: #fff;
    padding: 16px 16px 40px 16px;
    border-radius: 10px;
}
.backround-img {
    width: 288px;
    height: 288px;
    background-color: #2c7dfa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 24px;
}
.backround-img__img {
    width: 160px;
    height: 160px;
}
.info {
    text-align: center;
    font-family: "Outfit";
}
.info__title {
    width: 288px;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 16px;
}
.info__decsription {
    width: 256px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #7d889e;
    padding-left: 16px;
    word-spacing: 1px;
}
